<footer class="bg-primary">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h6 class="componentCenter">REDES SOCIALES</h6>
                            <ul class="no-list-style componentCenter">
                                <li class="liSocialNetworks">
                                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li class="liSocialNetworks">
                                    <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                </li>
                                <li class="liSocialNetworks">
                                    <a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a>
                                </li>
                                <li class="liSocialNetworks">
                                    <a href="#" target="_blank"><i class="fas fa-envelope-square"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h6 class="componentCenter" (click)="clear()">COPYRIGHT</h6>
                            <p class="font-size-small componentCenter">2018 Dejavu Software - Teléfono (+57)3016556264 - Medellín - Colombia. Derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-md-3">
                <h6 class="componentCenter">PÁGINAS LEGALES</h6>
                <ul class="no-list-style componentCenter font-size-small listLink">
                    <li><a href="#" target="_blank">Términos de Uso de la Página Web</a></li>
                    <li><a href="#" target="_blank">Política de Privacidad y Seguridad</a></li>
                    <li><a href="#" target="_blank">Contáctenos</a></li>
                </ul>
            </div>
            <div class="col-10 col-sm-6 col-md-3">
                <h6 class="componentCenter">ENLACES</h6>
                <ul class="no-list-style font-size-small listLink componentCenter">
                    <li><a href="#" target="_blank">Equipo de Trabajo</a></li>
                    <li><a href="#" target="_blank">Otros proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>