<div class="container mainContainer">
	<div class="row">
		<div class="col-xs-12">
			<h2>Bienvenido a Compra Colaborativa</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group filter" role="group">
			  <button type="button" (click)="filterBy('all')" class="btn btn-secondary" [ngClass]="currentFilter === 'all' ? 'active' : ''">Todo</button>
			  <button type="button" (click)="filterBy('pay')" class="btn btn-secondary" [ngClass]="currentFilter === 'pay' ? 'active' : ''">Mis Compras</button>
			  <button type="button" (click)="filterBy('offer')" class="btn btn-secondary" [ngClass]="currentFilter === 'offer' ? 'active' : ''">Ofertadas</button>
			  <button type="button" (click)="filterBy('no-offer')" class="btn btn-secondary" [ngClass]="currentFilter === 'no-offer' ? 'active' : ''">Productos</button>
			</div>
		</div>
	</div>
	<div class="row margin-top-20 margin-bottom-20">
		<div class="col-xs-12 col-md-4" *ngFor="let product of filteredProducts">			
			<app-tarjeta-producto-meta-cumplida [product]="product" (click)="setCurrentProduct(product)"></app-tarjeta-producto-meta-cumplida>
		</div>
	</div>
	<app-detalle-producto [product]="currentProduct"></app-detalle-producto>

</div>