<div class="container mainContainer">
	<div class="row">
		<div class="col-xs-12">
			<h2>Bienvenido a Compra Colaborativa</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group" role="group">
			  <button type="button" class="btn btn-secondary">Todo</button>
			  <button type="button" class="btn btn-secondary">Mis Compras</button>
			  <button type="button" class="btn btn-secondary">Ofertadas</button>
			  <button type="button" class="btn btn-secondary">Productos</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4" *ngFor="let product of products">
			
			<app-tarjeta-producto-meta-cumplida [product]="product"></app-tarjeta-producto-meta-cumplida>

		</div>
	</div>
</div>