<div class="card-producto" data-toggle="modal" [attr.data-target]="'#detalles_modal_'+product.id">
  <figure class="ml-3 mr-3">
    <img class="picture" src="{{product.picture}}"/>
  </figure>
  <div class="content">
    <p class="title">{{product.name}}</p>
    <hr>
  </div>
  <div class="price">
    <span class="currency">COP$ </span>
    <span class="amount">{{product.price}}</span>
    <span class="currency"> c/u</span>
  </div> 
    <div class="rating">
      <i [className]="1 <= product.rating ? 'fas fa-star' : 'far fa-star'"></i>
      <i [className]="2 <= product.rating ? 'fas fa-star' : 'far fa-star'"></i>
      <i [className]="3 <= product.rating ? 'fas fa-star' : 'far fa-star'"></i>
      <i [className]="4 <= product.rating ? 'fas fa-star' : 'far fa-star'"></i>
      <i [className]="5 <= product.rating ? 'fas fa-star' : 'far fa-star'"></i>
    </div>
    <div class="fillbar my-1 mx-2">
      <div class="totalProgressbar">
      </div>
      <div class="myProgressbar" [style.width]="convertValue(product)"></div>
    </div>
    <div>
      <span class="from pull-left">0</span>
      <span class="to pull-right">{{product.minimunAmount}}</span>
    </div>  
    <div *ngIf="product.status === 'no-offer'" class="pay-wrapper">
      <button class="pay mb-2 mt-2" (click)="offer($event)">Ofertar</button>
    </div>
    <div *ngIf="product.status === 'offer'" class="pay-wrapper">
      <button class="pay mb-2 mt-2" (click)="increaseOffer($event)">Ofertar más</button>
    </div>  
    <div *ngIf="product.status === 'pay'" class="pay-wrapper">
      <button class="pay mb-2 mt-2" (click)="pay($event)">Pagar</button>
    </div>
    <div *ngIf="product.status === 'review'" class="pay-wrapper">
      <button class="pay mb-2 mt-2" (click)="review($event)">Calificar</button>
    </div>

  <app-detalle-producto [product]="product"></app-detalle-producto>

</div>
