.card-producto {
  margin: 10px;
  max-width: 500px;
  flex-basis: 30%;
  background-color: white;
  &:hover {
    box-shadow: 1px 1px 4px #151E27;
  }
}
.content {
  padding: 0 1rem 1rem;
}

.rating {
  .fa-star {
    color: #ffc107;

  }
}

.pay-wrapper {
  display: flex;
  justify-content: center;
}

hr {
  height: 5px;
  width: 90%;
  color: black;
}

.pay {
  color: #151E27;
  background-color: #ffffff;
  font-size: .75em;
  font-weight: 700;
  border-radius: 5px;
  padding: .25rem 1.5rem;
  transition: background-color .25s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #151E27;
    color: #ffffff;
  }
}
