<header>
  <div class="row">
    <div class="col-5 col-sm-3">
      <div>
        <img src="" alt="">
      </div>
    </div>
    <div class="col-7 col-sm-5">
      <input type="text">
      <button><i class="fas fa-search"></i></button>
    </div>
    <div class="col-12 col-sm-4">
      <div>
        <a href="">Registro</a>
        <span>o</span>
        <button>Login</button>
      </div>
      <div>
        <i class="fas fa-cart-plus"></i>
        <i class="fas fa-user"></i>
        <i class="far fa-cog"></i>
      </div>
    </div>
  </div>
</header>