<header class="bg-primary">
  <div class="container-fluid">
    <div class="row divs">
        <div class="col-5 col-sm-3 col-md-2 divLogo d-flex align-self-center justify-content-center">
          <div class="divImg">
            <a href="/">
              <img src="../../../assets/logo.svg" alt="Logo">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-5 col-md-6 divBusqueda d-flex align-self-center">
          <input type="text" placeholder="Busca tus productos" class="form-control inputAppSearch">
          <button class="buttonSearch float-left btn btn-secondary"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-7 col-sm-4 divOpciones d-flex align-self-center justify-content-center">
          <div>
            <i class="fas fa-cart-plus inconsLogged"></i>
            <i class="fas fa-user inconsLogged"></i>
            <i class="fas fa-cogs inconsLogged"></i>
          </div>
        </div>
      </div>
  </div>
</header>